body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
}
header {
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  top: 0;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
}
#nikee {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
div a {
  text-align: center;
  color: black;
  text-decoration: none;
  margin: 30% 50px;
}
a:hover {
  border-bottom: 2px solid black;
}

#img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
div {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 30px;
}
main {
  padding-top: 60px;
  text-align: center;
}
.icons {
  height: 25px;
  width: 25px;
  object-fit: contain;
  margin: 8px;
}
#iconbox {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}

.logos {
  height: 60px;
  width: 100px;
  object-fit: cover;
  margin-left: 30px;
}
#logo {
  display: flex;
  justify-self: start;
  align-items: center;
}

div a {
  font-size: 15px;
}
.container {
  display: flex;
  align-items: center;
}
#card {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  margin: 0;
}
.card img {
  width: 100%;
  height: auto;
}
.cardtext {
  position: absolute;
  bottom: 80px;
  left: 30px;
  text-align: left;
  color: white;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#button1 {
  background-color: white;
  border-radius: 30px;
  padding: 5px 13px;
  margin-left: 20px;
  display: inline-block;
  margin: 0;
  width: 70px;
}
#button1:hover {
  background-color: darkgrey;
}

#shop1 {
  color: black;
  font-size: 20px;
}
#button {
  background-color: black;
  border-radius: 30px;
  padding: 5px 13px;
  margin-left: 20px;
  width: 70px;
  margin: 0;
  display: inline-block;
}
#button:hover {
  background-color: dimgray;
}
#shop {
  color: white;
  font-size: 20px;
}
#button2 {
  background-color: black;
  border-radius: 30px;
  padding: 5px 13px;
  margin-left: 20px;
  width: 160px;
  margin: 0;
  display: inline-block;
}

#button2:hover {
  background-color: darkgrey;
  width: 300px;
}

#nikeimg {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 110px;
}
#imge {
  height: auto;
}
#classic h1 {
  text-align: left;
}
h1 {
  margin-left: 20px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.catalog {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  height: auto;
}
.sneaker {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 22%;
  padding: 10px 0;
  border-radius: 5%;
}
h2{
  margin bottom: 10px;
}
#classic {
  height: auto;
}
.membershiph2 {
  height: auto;
  text-align: left;
}
#membershipnike {
  text-align: left;
}
.membership {
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.member {
  height: auto;
  position: relative;
  margin-right: 30px;
  width: 27%;
}
.mt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 100px;
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: left;
  left: 30px;
}
img {
  width: 100%;
}
footer {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}
ul {
  text-align: left;
  margin: 20px;
  list-style: none;
  font-family: "Roboto Slab", serif;
}
.listhead {
  margin: 20px;
  font-size: 20px;
}
li {
  margin: 20px;
}
.p {
  margin: 20px;
}
.boot{
  width: 60%;
  object-fit: contain;
  margin-left: 60px;
}